<h2> Delete section</h2>

<%= form_for(:section, :url => {:action => 'destroy', :id => @section.id}) do |f| %>
	<p> are you sure you want to delete this section</p>
	<%= submit_tag("Delete section") %>
	<% end %>