<% @page_title = "Subjects" %>

<div class="subjects index">
  <h2>Subjects</h2>

  <%= link_to("Add New Subject", {:action => 'new' , :remote => true},  :class => 'action new pull-right') %>
  <%= render ('subjects') %>

</div>
