<% @page_title = "New Subject" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="subjects new">
  <h2>Create Subject</h2>
  <%= render(:partial => "form") %>

</div>
